#container {
  max-width: 760px;
  margin: 0 auto;
}

#input-fields {
  border: 1px solid #000;
}

.slide-fade li {
  transition: all 0.4s ease-out;
  opacity: 0;
}

.slide-fade li.show {
  opacity: 1;
}